
.normal {
  font-family: Georgia, sans-serif;
  text-align: center;
}

.nav {
  display: flex;
  align-items: center;
  height: 90px;
  opacity: 0.2;
  background: #FFFFFF;
  box-shadow: 0 4px 16px 0 rgba(44,50,65,0.08);
}
